/* styles.css */

.chart-grid-container {
    width: 100%;
    display: flex;
    
}

.placeholder-sidebar {
    width: 250px;
}

.wrap-chart-grid {
    padding: 10px;
    flex: 1;
    max-height: calc(100vh - 78px);
    overflow: auto;
}

.chart-grid {

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cột bằng nhau */
    grid-gap: 20px; /* Khoảng cách giữa các biểu đồ */
  }
  
  .chart-item {
    border: 1px solid #ddd; /* Đường viền cho mỗi biểu đồ */
    padding: 20px; /* Khoảng cách bên trong mỗi biểu đồ */
  }



  .y.axis.label {
    transform: rotate(0deg) translateX(25px);
  }

  /* Trong file CSS của bạn */
.dashed-line {
  fill: none;
  stroke: #FF5733; /* Màu của đường nét đứt */
  stroke-width: 2;
}

.tooltip-custom {
  transform: translate(-50%, 0);
}

.tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  pointer-events: none;
}

.aksljkdjfksaea svg:not(:first-child) {
  opacity: 0 !important;
  height: 0 !important  ;
}

.c-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}